

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.divPlaceholders{
  display: flex;
  flex-direction : row;
  justify-content : space-evenly;
  flex-wrap: wrap;
  margin : 25px;
}

.myDivResult{
  display : flex;  
  flex-direction : row;
  border :1px;
  border-style:solid;
  border-color:black;
  margin-bottom : 10px;
  
}

.myDivImage
{
  width:  50%;
  margin: 10px;
}
.divBoxData{
  display : flex;
  flex-direction : column;
  width : 50%;
  margin : 10px;
  text-align : left;
}
.labelNonRecetteResult{
  font-weight : bold;
  font-size : 60px;
  margin-bottom : 20px;
}

.imageRecetteResult{
  width : 150px;
  height : 150px;
}

.boxInputs{
  display : flex;
  flex-Direction : column;
  justify-content : space-evenly;
  width : 45%;
}
.textInput{
  margin-bottom:   10px;
  margin-top : 10px;
}

.divAjoutRecette {
  margin: 20px auto;
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

h1 {
  font-size: 128px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.textInput{
  font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  border-radius: 5px;
}

.boutton{
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #59B969;
  box-shadow: 0 1px 0 0 #60BD49 inset;
  
}

.divBouttonAjouter{
  display : flex;
  justify-content : center;
  align-items : center;
  margin : 10px;
}